.filter {
    height: 100%;
    min-height: 85vh;
    position: relative;
    width: 15%;
    min-width: 200px; 
    margin: 0 1%;
    padding: 0;
    background-color: var(--dos-color);
    text-align: center;

}

.filter * {
    width: 100%;
    position: sticky;
}

#filterbackground {
    width: 30%;
    max-width: 150px;
    margin-right: 12%;
}


 h3{
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

main {
    margin: 0 20%;
}

footer{

    bottom: 0;
    left: 0;
    right: 0;
    position: static;
}

.container {
    display: flex;
    margin: 0 20px;
    align-items: flex-start;
    position: relative;
    align-items: stretch;
    z-index: 0;
}

.dropdown1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.dropbtn1 {
    cursor: pointer;
    border: none;
    padding: 10px;
}

.dropdown-content1 input[type="text"] {
    width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    align-self: center;
}

.dropdown-content1 input[type="text"]:focus {
    outline: none;
    border-color: var(--white);
    box-shadow: none;
}

.dropdown-content1 {
    display: none;
    position: sticky;
    max-width: calc(100% - 2px);
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: transform 0.8s ease-in-out;
    animation: slideIn 0.5s forwards;
    max-height: 370px;
    overflow-y: auto;
}

.autorFilter {
    display: flex; 
    align-items: auto; 
    overflow-x: hidden;
}

.autorFilter label {
    flex: 1 0 90%; 
    margin-right: 10px; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}
.autorFilter label {
    flex: 1; 
    margin-right: 10px; 
}

.autorFilter {
    display: flex; 
    align-items: center; 
}

.autorFilter label {
    flex: 1 0 85%; 
    margin-right: 10px; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.autorCheckbox {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dropdown-content1 .show {
    display: block;
    transform: translateY(-100%);
    width: 100%;
}

.dropdown-content1 input[type="checkbox"] {
    margin: 0;
}

.dropdown-content1 a:hover {
    background-color: var(--white);
}

.show {
    display: block;
}

.text {
    margin-top: 0;
    align-content: center;
    justify-content: center;

}

.show + .text {
    margin-top: 150px;
}

/* animace */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* KONEC FILTRU */



/* pro jednotlivé odkazy v popisu knihy */
.knihainfo {
    flex: 1 1 30%;
    margin: 10px; 
    background-color: var(--white);
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    max-width: 40%;
    min-width: 200px;
    justify-content: center;
}

.knihainfo img {
    max-width: 100%; 
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.knihainfo a {
    text-decoration: none;
    color: var(--un-color);
    margin: 0; 
    padding: 0;
    
}

.knihainfo div {
    margin-top: 10px;
    min-width: 30% !important;

}


.row_info {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    left: auto;
    right: auto;
    text-align: center;
    align-self: center;
    background-color: var(--dos-color);
    padding: 20px;
    border-radius: 10px;
    width: 110vh;
    min-height: 200px; 
    height: auto;
    margin-bottom: 20px;
    z-index: 0; 
}

#zadneKnihy{
    align-self:center ;
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
}

.text{

    max-height: 85vh;
    overflow-y: scroll;

}

.text::-webkit-scrollbar{
    max-height:auto ;
}

.text::-webkit-scrollbar-thumb {
    background-color: var(--un-color); 
    border-radius: 10px; 
}

.text::-webkit-scrollbar {
    width: 8px; 
}


input[type="submit" i] {
    margin-top: 20px;
    background-color: var(--white);
    text-align: center;
    align-self: center;
    outline: none;
    border-radius: 5px;
}

input[type="submit" i]:hover{
    cursor: pointer;
}