.filter {
    height: 100%;
    position: relative;
    width: 15%; /* Set width to 15% */
    min-width: 200px; /* Set a minimum width to ensure usability */
    margin: 0 1%;
    padding: 0;
    background-color: var(--dos-color);
}

.filter * {
    width: 100%;
}

#filterbackground {
    width: 30%;
    margin-right: 20px;
}

main {
    margin: 0 20%;
}

.container {
    display: flex;
    margin: 0 20px;
    align-items: flex-start;
    position: relative;
    align-items: stretch;
    z-index: 0;
}

.dropdown1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.dropbtn1 {
    cursor: pointer;
    border: none;
    padding: 10px;
}

.dropdown-content1 input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid var(--white);
    box-sizing: border-box;
}

.dropdown-content1 input[type="text"]:focus {
    outline: none;
    border-color: var(--white);
    box-shadow: none;
}

.dropdown-content1 {
    display: none;
    position: sticky;
    max-width: calc(100% - 2px);
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    margin-bottom: 10px;
    transition: transform 0.8s ease-in-out;
    animation: slideIn 0.5s forwards;
}

.dropdown-content1 .show {
    display: block;
    transform: translateY(-100%);
    width: 100%;
}

.dropdown-content1 input[type="checkbox"] {
    margin: 0;
}

.dropdown-content1 a:hover {
    background-color: var(--white);
}

.show {
    display: block;
}

.text {
    margin-top: 0;
}

.show + .text {
    margin-top: 150px;
}

/* animace */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* KONEC FILTRU */

/* pro jednotlivé odkazy v popisu knihy */

.knihainfo {
    background-color: var(--white);
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    max-height: 200px;
    border-radius: 8px;

}


.knihainfo img {
    max-width: 70%;
    max-height: 70%;
    margin: 0;
    padding: 0;

}

.knihainfo a {
    text-decoration: none;
    color: var(--un-color);
    margin: 0; 
    padding: 0;
    
}

.knihainfo div {
    margin-top: 10px;

}


.row_info {
    margin-top: 20px;
    margin-left: 5%; 
    margin-right: 5%; 
    text-align: center; 
    background-color: var(--dos-color); 
    max-width: 75%;
    padding: 20px;
    border-radius: 10px;
    width: 100%; 
    height: auto;
    margin-bottom: 20px; 
    z-index: -1;
}
