.filter {
    height: 100%;
    min-height: 85vh;
    position: relative;
    width: 15%;
    min-width: 200px; 
    margin: 0 1%;
    padding: 0;
    background-color: var(--dos-color);
    text-align: center;

}

.filter * {
    width: 100%;
    position: sticky;
}

#filterbackground {
    width: 30%;
    max-width: 150px;
    margin-right: 12%;
}


 h3{
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

main {
    margin: 0 20%;
}

footer{

    bottom: 0;
    left: 0;
    right: 0;
    position: static;
}

.container {
    display: flex;
    margin: 0 20px;
    align-items: flex-start;
    position: relative;
    align-items: stretch;
    z-index: 0;

}

.dropdown1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    background-color: rgba(94, 94, 94, 0.562);

}

.dropbtn1 {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: white;
}

.dropdown-content1 input[type="text"] {
    width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    align-self: center;
}

.dropdown-content1 input[type="text"]:focus {
    outline: none;
    border-color: var(--white);
    box-shadow: none;
}

.dropdown-content1 {
    display: none;
    position: sticky;
    max-width: calc(100% - 2px);
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: transform 0.8s ease-in-out;
    animation: slideIn 0.5s forwards;
    max-height: 370px;
    overflow-y: auto;
}

.autorFilter {
    display: flex; 
    align-items: auto; 
    overflow-x: hidden;
}

.autorFilter label {
    flex: 1 0 90%; 
    margin-right: 10px; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}
.autorFilter label {
    flex: 1; 
    margin-right: 10px; 
}

.autorFilter {
    display: flex; 
    align-items: center; 
}

.autorFilter label {
    flex: 1 0 85%; 
    margin-right: 10px; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.autorCheckbox {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dropdown-content1 .show {
    display: block;
    transform: translateY(-100%);
    width: 100%;
}

.dropdown-content1 input[type="checkbox"] {
    margin: 0;
}

.dropdown-content1 a:hover {
    background-color: var(--white);
}

.show {
    display: block;
}

.text {
    align-content: center;
    justify-content: center;
    margin-bottom: 35px;
    
}

.show + .text {
    margin-top: 150px;
}

/* animace */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* KONEC FILTRU */



/* pro jednotlivé odkazy v popisu knihy */
.knihainfo {
    margin: 10px; 
    background-color: var(--white);
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 15px;
    border-radius: 8px;
    width: auto;
    max-width:220px ;
    height: auto;
    justify-content: center;
    align-content: center;
}


.knihainfo a {
    text-decoration: none;
    color: var(--un-color);
    margin: 0; 
    margin-bottom: 15px;
    padding: 0;
    
}

.row_info {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--dos-color);
    padding: 20px;
    border-radius: 10px;
    width: 110vh;
    min-height: 200px;
    height: fit-content;
    max-height: 80vh; 
    overflow-y: auto; 
    overflow-x: hidden;
    border: 3px solid var(--header-color);
}

#zadneKnihy{
    align-self:center ;
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
}

.text {
    position: relative;
    max-height: 80vh; 
    margin-top: 2vh; 
}

.row_info::-webkit-scrollbar{
    max-height:auto ;
}

.row_info::-webkit-scrollbar-thumb {
    background-color: var(--un-color); 
    border-radius: 10px; 
}

.row_info::-webkit-scrollbar {
    width: 8px; 
}


input[type="submit" i] {
    margin-top: 20px;
    background-color: var(--white);
    text-align: center;
    align-self: center;
    outline: none;
    border-radius: 5px;
}

input[type="submit" i]:hover{
    cursor: pointer;
}

/*Book animace*/

:root {
    --book-width: 200px;
    --book-height: 280px;
}

.transition {
    transition: all ease-out 0.6s;
    -webkit-transition: all ease-out 0.6s;
    -moz-transition: all ease-out 0.6s;
    -ms-transition: all ease-out 0.6s;
    -o-transition: all ease-out 0.6s;
}


.wrap {
    height: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin: 10px;
    
}

.perspective {
    width: var(--book-width) ;
    height:var(--book-height) ;
    perspective: 100%;
    transform-style: preserve-3d;
    overflow: hidden;
}

.book-wrap {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease-out 0.4s;
}



.title {
    content: "";
    height: var(--book-height);
    width: 30px;
    position: absolute;
    right: 0;
    left: calc(-1 * (var(--book-width) + 1px));
    top: 0;
    bottom: 0;
    margin: auto;
    background: #AB4747;
    transform: rotateY(-80deg) translateX(-14px);
}

.book-back {
    width: calc(var(--book-width)-20%);
    height: calc(var(--book-height)-20%);
    background-color: #D06255; /*Pak upravit podle žánru v databazi*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transform: rotate(180deg) translateZ(-30px) translateX(5px);

}

.book-back .text {
    transform: rotateX(180deg);
    position: absolute;
    text-align: left;
    color: black;
    text-align: center;
    justify-content: center;
    padding-right:7px ;
    top: 40px;
}

.book-back .text h5 a{

    text-decoration:underline ;
    font-size: large;

}

.rotate {
    transform: rotateY(30deg);
}

.flip {
    transform: rotateY(180deg);
}