main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 20px;
}

form {
    background-color: var(--un-color);
    padding: 20px;
    border: 3px solid var(--dos-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.centerKviz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerKviz label {
    margin: 10px 0 5px;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    text-align: left;
    color: var(--white);
}

.centerKviz input[type="text"],
.centerKviz select {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--un-color);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--white);
}

.centerKviz select {
    margin-bottom: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.centerKviz select option {
    background-color: var(--background);
    color: var(--white);
}

#vytvareniKvizu {
    width: 100%;
    border: 1px solid var(--un-color);
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--un-color);
}

#vyslednyFormular {
    padding: 10px;
    border: 1px solid var(--div-separator);
    border-radius: 5px;
    margin-bottom: 20px;
}

#strukturaFormulare {
    margin-bottom: 20px;
}

#spravneOdpovediInput {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--div-separator);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--white);
}

#graficke {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grafickeVkladaniDiv {
    padding: 10px;
    border: 1px solid var(--div-separator);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--background);
}

#vytvoritOtazku {
    background-color: var(--dos-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#vytvoritOtazku:hover {
    background-color: lighten(var(--dos-color), 10%);
}

#vyrvoritKviz {
    background-color: var(--dos-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#vyrvoritKviz:hover {
    background-color: lighten(var(--dos-color), 10%);
}