#LoginOutline{
    text-align: center;
    align-content: center;
    background-color: var(--dos-color);
    margin: 7% 30%;
    border-radius: 5px;
    padding: 2% 2%;
    color: var(--white);
}

#LogInputs{
    display: flex;
    flex-direction: column;
}

input{
    background-color: var(--white);
    text-align: center;
    margin-bottom: 5px;
    align-self: center;
    width: 350px;
}

input[type="submit"]{
    margin-top: 10px;
}

button,
input[type="submit"]{

    width: 300px;
    align-self: center;
    background-color: var(--white);
    text-align: center;
    margin-bottom: 5px;
}

input:focus {

    outline: none;
    border-color: var(--white);
    box-shadow: none;
}

input[type="submit"]:hover{

    cursor: pointer;

}


#LoginOutline a{
    text-decoration: none;
    color:var(--black);
    width: 300px;
    background-color: var(--white);
    align-self: center;
    border: 2px solid var(--white);
}

h3{
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
