.navigation {
    display: flex;
    justify-content: center;
    background-color: var(--un-color);
    width: 100%;
    margin-top: 0;
    position: relative;
}

#toggleNavButton {
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    height: 100%; 
    display: flex; 
    align-items: center; 
}

#toggleNavButton img{
    max-height: 100%;
    z-index: 9999;
}

#toggleNavButton span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--black);
    margin: 5px 0;
}


#toggleNavButton span:nth-child(2) {
    width: 20px;
}

#toggleNavButton span:nth-child(3) {
    width: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--dos-color);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

nav ul li {
    margin: 0 0px; 
    background-color: var(--un-color);
    opacity: 95%;

}

nav ul li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--white);
    transition: color 0.4s ease, background-color 0.4s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--dos-color);
    transition: width 0.4s ease, left 0.4s ease;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: var(--black);
    background-color: var(--white);
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: -8px 8px 16px 0px var(--un-color);
    right: 0;
}

.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--un-color);
    color: var(--white);
    animation: slide-in 0.4s ease;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }

    .dropdown-content a {
        padding: 10px;
    }
}
