.profilEdit{
    width: 30%;
}


.profilEdit,
.profilZmena {
    text-align: center;
    background-color: var(--un-color);
    border: 5px solid var(--dos-color);
    border-radius: 5px;
    padding: 2%;
    color: var(--white);
    margin: 5% auto;
    max-width: 40%;
}

#info,
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: calc(100% - 20px); 
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--dos-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    margin-bottom: 4%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #bd1833b2;
}

img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%; 
    object-fit: cover; 
}

h3 {
    margin-top: 0;
    padding-top: 20px; 
}

label {
    font-weight: bold;
    text-decoration: underline;
}

.pfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.pfp form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .profilEdit,
    .profilZmena {
        padding: 5%;
    }

    input[type="text"],
    input[type="password"],
    input[type="file"] {
        width: 100%;
    }
}