.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--white);
    padding: 20px;
    margin: 0;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.review {
    max-width: 85%;
    min-width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

#nazev {
    color: #a83c4e;
    border-bottom: 2px solid var(--div-separator);
    padding-bottom: 10px;
}

h3 {
    color: var(--un-color);
    margin: 0;
}

h3:first-of-type {
    text-align: left;
}

h3:last-of-type {
    text-align: right;
    margin-left: 20px;
}

h3 a {
    color: var(--white);
    text-decoration: none;
    padding: 3px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 8px;
}

h3 a:hover {
    text-decoration: underline;
    color: var(--dos-color);
    background-color: var(--div-separator);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.content {
    background-color: var(--un-color);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
}

