:root{
    
--black: black;
--white: #d4d4d4;

--un-color: #2E3837;
--dos-color:#166678 ; 
--tres-color:#7DB9B3 ;
--quatro-color:#E1F6F4;
--pento-color:#DDCAD9;

--div-separator:#c0c0c0;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
}

main{

    margin: 0 10%;

}

.container {
    display: flex;
    margin: 20px;
    align-items: flex-start;
}


header,
footer {
    background-color: var(--un-color);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
    z-index: 1;
}

footer{

    position: relative;
    bottom: 0;
    left: 0;
    right:0;

}

header a
{
    color: var(--white);
    text-decoration: none;
}