:root{
    
--black: black;
--white: #d4d4d4;
--background: #646464 ;
--un-color: #2c2625;
--dos-color:#4d4848 ; 
--tres-color:#AF8260 ;
--quatro-color:#E4C59E;
--pento-color:#DDCAD9;

--div-separator:#c0c0c0;

/*
080705
40434E
702632
912F40
FFFFFA
------
111312
5C0A13
26408B
FDFDFF
C6C5B9
*/

}


body {
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
}

main{

    margin: 0 10%;

}

.container {
    display: flex;
    margin: 20px;
    align-items: flex-start;
}


header,
footer {
    background-color: var(--un-color);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
    z-index: 1;
    bottom: 0;
}

footer{

    position: relative;
    bottom: 0;
    left: 0;
    right:0;

}

header a
{
    color: var(--white);
    text-decoration: none;
}

